body{
    font-family: Tahoma, Arial, sans-serif;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
.container{
    width: 1180px;
    margin-left: auto;
    margin-right: auto;
}
/* ID */
#section_text_2{
    height: 120px;
    width: auto;
    background-color: #f3f3f3;
}
#section_text_2 .alpha{
    float: left;
    margin-top: 35px;
}
#section_text_2 .omega{
    float: right;
    margin-top: 28px;
    padding: 18px 33px;
}

#section_header_1{
    height: 100px;
}
#section_header_1 .right_socials{
    float: right;
}
#section_slider{
    width: auto;
    height: 660px;
    background-color: #eeeeee;
}

#section_gym_4{
    height: 530px;
}
#section_gym_4 .top_padding{
    display: flex;
    justify-content: center;
    padding-top: 100px;
}
#section_gym_4 .alpha{
    float: left;
    text-align: center;
}
#section_gym_4 .beta{
    float: left;
    padding-left: 150px;
    text-align: center;
}
#section_gym_4 .omega{
    float: left;
    padding-left: 150px;
    text-align: center;
}

#section_intro_title{
    height: 540px;
    width: 100%;
    background-color: #f3f3f3;
}
#section_intro_title .container{
    display: flex;
    justify-content: center;
    text-align: center;
}
#section_intro_title .flat_pricing{
    border: 3px #dddddd solid;
    border-radius: 3px;
    margin: 15px;
    padding-bottom: 40px;
}

#section_party_3{
    height: 650px;
    background-color: #191919;
}
#section_party_3 .container{
    display: flex;
    justify-content: center;
    padding-top: 100px;
    text-align: center;
}
#section_party_3 .text_input{
    background-color: #151515;
    padding: 40px 25px 30px 25px;
    border: 1px solid #272727;
}
#contact_form{
    display: flex;
    flex-direction: column;
}
#section_party_4{
    height: 80px;
    background-color: #151515;
}
#section_party_4 .alpha{
    float: left;
    padding-top: 30px;
    padding-left: 50px;
}
#section_party_4 .omega{
    float: right;
}
/* Class */
#section_text_2 .omega a{
    color: #ffffffff;
    font-weight: 600;
    padding: 18px 33px;
    background-color: #f77825;
    border-radius: 4px;
}
#section_text_2 .omega a:hover{
    color: darkmagenta;
    background-color: coral;
}
#section_text_2 .omega a:active{
    color: darkorchid;
    background-color: chocolate;
}

#section_header_1 .right_socials ul li{
    float: left;
    padding: 22px 0px 22px 22px; 
    color: #7f7f7f;
}
#section_header_1 .right_socials ul a{
    font-size: 25px;
}
#section_header_1 .right_socials ul li:hover{
    color: lightgray;
}
#section_header_1 .right_socials ul li:active{
    color: slategray;
}

#navbar-collapse-02 ul{
    float: left;
    padding-inline-start: 0;
}
#navbar-collapse-02 ul li{
    float: left;
    padding: 22px 26px 22px 0px;
}
#navbar-collapse-02 ul li a{
    color: #818283;
    font-weight: 550;
    font-size: 20px;
    margin: 0;
}
#navbar-collapse-02 ul li a:hover{
    color: lightgray;
}
#navbar-collapse-02 ul li a:active{
    color: slategray;
}

#section_slider .w3-display-container{
    max-width: 1180px;
    max-height: 465px;
    padding-top: 45px;
}
.mySlides{
    display: none;
    width: 100%;
}
.mySlides img{
    width: 1180px;
    border-radius: 8px;
}
.fa-circle-chevron-left, .fa-circle-chevron-right, .w3-badge{
    cursor: pointer;
    padding-top: 100px;
}
.w3-badge {
    height: 13px;
    width: 13px;
    padding: 0px;
    margin-top: 95px;
    margin-right: 5px;
}
.w3-display-middle{
    width: 100%;
}
.fa-circle-chevron-left, .fa-circle-chevron-right{
    font-size: 50px;
    margin: none;
}
.fa-circle-chevron-left{
    float: left;
    color: #888881;
    opacity: 0.7;
}
.fa-circle-chevron-right{
    float: right;
    color: #888881;
    opacity: 0.7;
}
.fa-circle-chevron-left:hover{
    opacity: 0.4;
}
.fa-circle-chevron-right:hover{
    opacity: 0.4;
}
.w3-display-bottomleft h3{
    line-height: 0.5;
    font-size: 35px;
    margin: 0;
    color: white;
    font-weight: 700;
}
.w3-display-bottomleft p{
    font-size: 20px;
    color: white;
    margin-bottom: 0;
}
.w3-display-bottomleft{
    text-shadow: black 0.1em 0.1em 0.1em;
}

#section_gym_4 .img_gym_st img{
    border-radius: 50%;
}
#section_gym_4 .gym_st span{
    font-size: 20px;
    margin-bottom: 30px;
    font-weight: 600;
}
#section_gym_4 .gym_text{
    font-size: 16px;
    margin-bottom: 50px;
    color: #bcb2b9;
}
#section_gym_4 .link_3_btn a{
    color: #ffe7de;
    background-color: #ff8833;
    padding: 15px 30px;
    border-radius: 4px;
}
#section_gym_4 .link_3_btn a:hover{
    background-color: coral;
    color: aquamarine;
}
#section_gym_4 .link_3_btn a:active{
    background-color: chocolate;
    color: aqua;
}

#section_intro_title .flat_pricing .big_title{
    font-size: 50px;
    margin: 0;
    padding-top: 20px;
}
#section_intro_title .flat_pricing .blue_text{
    color: #2dc0e8;
}
#section_intro_title .flat_pricing .orange{
    color: #f77825;
}
#section_intro_title .flat_pricing .light_gray{
    font-size: 17px;
    margin: 0;
    color: #999999;
}
#section_intro_title .flat_pricing ul{
    padding-inline-start: 0;
}
#section_intro_title .flat_pricing ul li{
    margin: 45px 80px 40px 80px;
}
#section_intro_title .flat_pricing ul span{
    color: #a59f9c;
}
#section_intro_title .flat_pricing .blue_bg{
    color: #fffdfd;
    background-color: #2dc0e8;
    padding: 20px 25px;
    border-radius: 4px;
}
#section_intro_title .flat_pricing a span{
    font-size: 17px;
    margin: 0;
    font-weight: 600;
}
#section_intro_title .flat_pricing .orange_bg{
    color: #fffdfd;
    background-color: #f77825;
    padding: 20px 25px;
    border-radius: 4px;
}
#section_intro_title .flat_pricing .blue_bg:hover{
    background-color: lightskyblue;
    color: beige;
}
#section_intro_title .flat_pricing .blue_bg:active{
    background-color: cornflowerblue;
    color: bisque;
}
#section_intro_title .flat_pricing .orange_bg:hover{
    background-color: coral;
    color: beige;
}
#section_intro_title .flat_pricing .orange_bg:active{
    background-color: chocolate;
    color: bisque;
}

#section_party_3 .headtext_style{
    font-size: 30px;
    color: #fafeff;
}
#section_party_3 .subtext_style{
    font-size: 22px;
    color: #75797d;
}
#contact_form input{
    padding: 15px 50px 15px 10px;
    margin: 10px 0px;
    align-content: start;
    font-size: 16px;
    border-radius: 4px;
}
#submit_btn_15{
    background-color: #2a80ea;
    color: #f8feff;
    border-radius: 4px;
    padding: 15px 0px 15px 0px;
    margin-top: 10px;
}
#submit_btn_15:hover{
    background-color: dodgerblue;
}
#submit_btn_15:active{
    background-color: darkblue;
}

#section_party_4 .alpha .rights_st{
    color: #a2a1a2;
}
#section_party_4 .alpha .pixfort_st{
    color: #1c8ff5;
    font-weight: 600;
}
#section_party_4 .omega .socbuttons{
    display: flex;
    flex-direction: row-reverse;
}
#section_party_4 .omega .bottom-icons{
    color: #bbbbbb;
    font-size: 25px;
    padding-inline-start: 15px;
}
#section_party_4 .omega .bottom-icons a{
    margin-left: 15px;
}
#section_party_4 .omega .bottom-icons a:hover{
    color: lightgray;
}
#section_party_4 .omega .bottom-icons a:active{
    color: slategray;
}
#section_party_4 .omega .likes_st{
    color: #9c9b9b;
    font-size: 16px;
    margin-top: 30px;
}