body{
    font-family: Tahoma, Arial, sans-serif;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}
.container{
    width: 1180px;
    margin-left: auto;
    margin-right: auto;
}
/* ID */
#section_normal_1{
    height: 80px;
    border-bottom: 5px solid #d9d9d9;
}
#section_normal_1 .alpha{
    padding-top: 20px;
    float: left;
    padding-left: 10px;
}
#section_normal_1 .omega{
    padding-top: 20px;
    float: right;
    padding-right: 10px;
}

#section_normal_4_2{
    height: 670px;
    width: auto;
    background-color: #333333;
}
#section_normal_4_2 .container{
    padding-top: 50px;
}
#section_normal_4_2 .alpha{
    float: left;
    width: 50%;
}
#section_normal_4_2 .omega{
    padding-right: 180px
}

#section_normal_6{
    height: 380px;
    width: auto;
    background-color: #eeeeee;
    border-bottom: 5px solid #dddddd;
}
#section_normal_6 .container{
    padding-top: 30px;
    text-align: center;
}
#section_normal_6 .alpha{
    float: left;
    width: 49%;
    padding-right: 20px;
}
#section_normal_6 .alpha .box_1{
    border-radius: 5px;
}
#section_normal_6 .omega{
    float: right;
    width: 49%;
}
#section_normal_6 .omega .box_2{
    border-radius: 5px;
}

#section_agency_5{
    height: 480px;
    width: auto;
    background-color: #ffffff;
}
#section_agency_5 .container{
    text-align: center;
    padding-top: 50px;
}
/* Class */
#section_normal_1 .omega .social_button{
    float: right;
    margin-left: 5px;
    margin-right: 5px
    ;
}
#section_normal_1 .omega .htext_style{
    float: left;
    padding-top: 5px;
    padding-right: 20px;
    color: #b6b6b6;
    font-weight: 500;
}

#section_normal_4_2 .alpha img{
    float: right;
    margin-right: 50px;
    height: 485px;
    width: 540px;
}
#section_normal_4_2 .omega .bold_text{
    font-weight: bold;
}
#section_normal_4_2 .omega .blue_text{
    color: #2dc0e8;
}
#section_normal_4_2 .omega .big_text{
    font-size: 22px
}
#section_normal_4_2 .omega .big_title{
    font-size: 45px;
    color: #ffffff;
    margin: 0;
}
#section_normal_4_2 .omega .light_gray{
    color: #8d8d8d;
}
#section_normal_4_2 .omega .normal_text{
    font-size: 15px;
    margin-bottom: 30px;
}
#section_normal_4_2 .omega a{
    color: #ffffff;
    border-bottom: 2px solid #249aba;
    background-color: #2dc0e8;
    padding: 15px;
    border-radius: 4px;
}
#section_normal_4_2 .omega a:hover{
    color: #249aba;
    background-color: rgb(55, 75, 109);
}
#section_normal_4_2 .omega a:active{
    color: #00b0da;
    background-color: darkblue;
}

#section_normal_6 h3{
    font-size: 25px;
    margin: 0;
    color: #696969;
}
#section_normal_6 h5{
    font-size: 18px;
    font-weight: lighter;
    margin-bottom: 50px;
    color: #aaaaaa;
    margin-top: 10px;
}
#section_normal_6 .b_style{
    float: left;
    padding: 30px 25px 30px 25px;
    background-color: #f5f5f5;
    margin-right: 10px;
    border-radius: 5px;
}
#section_normal_6 .txt_style{
    padding: 22px 10px 22px 10px;
    background-color: #ffffff;
    text-align: justify;
    border: #ffffff;
    border-bottom: 4px solid #dddddd;
    border-radius: 3px;
}
#section_normal_6 .txt_style a:link{
    color: blue;
}
#section_normal_6 .txt_style a:active{
    color: darkred;
}
#section_normal_6 .txt_style a:visited{
    color: violet;
}
#section_normal_6 .txt_style a:hover{
    color: red;
}

#section_agency_5 .f1_style{
    color: #639f70;
    font-size: 30px;
}
#section_agency_5 .f2_style{
    color: #b4b4b4;
    font-size: 15px;
    padding-top: 30px;
    padding-bottom: 30px;
}
#section_agency_5 .second_link{
    margin-top: 30px;
    margin-bottom: 70px;
}
#section_agency_5 .get_2_btn{
    border: 2px solid #5b9a68;
    padding: 25px;
}
#section_agency_5 .slow_fade{
    color: #4d8c5a;
    font-weight: 550;
    font-size: 20px;
}
#section_agency_5 .rights_st{
    color: #bababa;
    padding-bottom: 5px;
}
#section_agency_5 .pixfort_st{
    color: #5b9a68;
    font-weight: 550;
}
#section_agency_5 .center_btn{
    padding-top: 30px;
    margin-right: 525px;
}
#section_agency_5 .center_btn a{
    float: right;
    padding-right: 10px;
}


